
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,300&display=swap');
@import url('navigation.css');

* {
    box-sizing: border-box;

    --white: #ccc;
    --black: #171717;
}

::selection{
    color: var(--white);
    background: var(--black);
}

body{
    height: 100vh;
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7em;
    color: var(--white);
    background: var(--black);
}

section{
    width: 100%;
    min-height: 100vh;
    padding: 25px max(45px, 5%);
}

h1{
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin: 0.4em 0;
}

h2{
    font-size: 1.7em;
    font-weight: 300;
    margin: 0.4em 0;
}

h3{
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
    margin: 0.4em 0;
}

hr{
    width: 70px;
    height: 1px;
    margin: 1.2em auto;
    border-width: 0;
    background: var(--black);
}

a{
    color: var(--white);
    text-decoration: none;
}

.columns{
    column-count: 1;
    column-gap: 10px;
    margin-bottom: 20px;
}

.columns>*{
    display: inline-block;
    width: 100%;
}

/* tablet sized */
@media only screen and (min-width: 550px){
    
    body{
        font-size: 0.85em;
    }

    h1{
        font-size: 3em;
    }

    /* Make room for navigation sidebar on the left */
    section{
        padding-left: min(300px, 25%);
    }

    .more-padding{
        padding: 20px 5%;
    }

    .columns{
        column-count: 2;
    }

    .columns>*{
        width: calc(50%-5px);
    }

}

/* desktop sized */
@media only screen and (min-width: 1000px){

    body{
        font-size: 1em;
    }

    h1{
        font-size: 4em;
    }

    .more-padding{
        padding: 40px 10%;
    }

}
