
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,300&display=swap');
@import url('navigation.css');

* {
    box-sizing: border-box;

    --white: rgb(232, 227, 227);
    --black: #090929;
    --green: #53bd7f;
    --dark-green: #1f5a38;
}

::selection{
    color: var(--white);
    background: var(--black);
}

body{
    height: 100vh;
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7em;
    color: var(--black);
    background: var(--white);
}

section{
    width: 100%;
    min-height: 100vh;
    padding: 25px max(45px, 5%);
}

h1{
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin: 0.4em 0;
}

h2{
    font-size: 1.7em;
    font-weight: 300;
    margin: 0.4em 0;
}

h3{
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
    margin: 0.4em 0;
}

h4{
    font-size: 1.2em;
    font-weight: 300;
    margin: 0.5em 0 0.1em 0;
}

hr{
    width: 70px;
    height: 1px;
    margin: 1.2em auto;
    border-width: 0;
    background: var(--black);
}

a{
    color: var(--black);
    text-decoration: none;
}

.columns{
    column-count: 1;
    column-gap: 10px;
    margin-bottom: 20px;
}

.columns>*{
    display: inline-block;
    width: 100%;
}

.nomargin{
    margin: 0;
}

.placeholder{
    animation: placeholder 0.5s infinite linear;
    position: relative;
    display: inline-block;
}
.placeholder:hover::before{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 2.5px 8px 2.5px 0;
    border-color: transparent rgba(100, 0, 0, 0.5) transparent transparent;
    left: calc(100% + 5px);
    top: calc(50% - 2px);
    transform: sclaeY(50%);
}
.placeholder:hover::after{
    content: 'this\a0 is\a0 placeholder\a0 content.';
    position: absolute;
    color: white;
    background: rgba(100, 0, 0, 0.5);
    padding: 4px;
    font-size: 10px;
    display: inline-block;
    margin-left: 5px;
    border-radius: 5px;
    left: calc(100% + 8px);
    top: 50%;
    transform: translateY(-50%);
}
@keyframes placeholder{
    from{
        color: orange;
    }
    50%{
        color: red;
    }
    to{
        color: orange;
    }
}



#loading-overlay{
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--white);
	z-index: 300;
}

.lds-ripple {
	display: inline-block;
	position: relative;
	width: 100px;
	height: 100px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.lds-ripple::before{
    content: 'Hold on...';
    display: inline-block;
    position: absolute;
    top: -1.5em;
    width: 100px;
    left: 0;
    text-align: center;
    color: var(--dark-green);
    opacity: 0.7;
    animation: lds-ripple-text 0.5s linear infinite;
}
.lds-ripple div {
	position: absolute;
	border: 1px solid var(--dark-green);
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
	animation-delay: -0.5s;
}
.lds-ripple div:nth-child(3) {
	animation-delay: -0.25s;
}
@keyframes lds-ripple-text {
    0% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 0.4;
    }
}
@keyframes lds-ripple {
	0% {
		top: calc(50% - 4px);
		left: calc(50% - 4px);;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: 0px;
		left: 0px;
		width: calc(100% - 8px);
		height: calc(100% - 8px);
		opacity: 0;
	}
}



/* tablet sized */
@media only screen and (min-width: 550px){
    
    body{
        font-size: 0.85em;
    }

    h1{
        font-size: 3em;
    }

    /* Make room for navigation sidebar on the left */
    section{
        padding-left: min(300px, 25%);
    }

    .more-padding{
        padding: 20px 5%;
    }

    .columns{
        column-count: 2;
    }

    .columns>*{
        width: calc(50%-5px);
    }

}

/* desktop sized */
@media only screen and (min-width: 1000px){

    body{
        font-size: 1em;
    }

    h1{
        font-size: 4em;
    }

    .more-padding{
        padding: 40px 10%;
    }

}
